* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.burger {
  display: none;

  @media (max-width: 700px) {
    display: block;
  }
}


.menu {
  gap: 32px;
  display: flex;
  text-transform: uppercase;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid white;
    }

    @media (max-width: 1100px) {
      color: black;
    }
  }

  @media (max-width: 700px) {
    display: none;
  }
}

.header {
  padding: 50px 0;
  background-image: url(./img/Group\ 8.png);
  background-repeat: no-repeat;
  background-position: right top;
  max-width: 1700px;
  margin: 0 auto;

  @media (max-width: 1100px) {
    background-image: none;
  }


}

.wrapper {
  display: flex;
  align-items: center;

  @media (max-width: 1100px) {
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    gap: 40px;
  }

}

.box {
  h4 {
    padding: 40px 0 50px;
    font-size: 20px;
    text-transform: uppercase;
  }

  h1 {
    font-size: 60px;
    line-height: 1;

    @media (max-width: 500px) {
      font-size: 35px;
    }

  }

  button {
    padding: 14px 26px;
    text-transform: uppercase;
    background: #68B738;
    color: white;
    border: none;
  }
}

.img {
  max-width: 550px;
  width: 100%;
  position: relative;
  left: -200px;

  @media (max-width: 1100px) {
    left: 0;
  }
}

.wrap1 {
  display: flex;
  gap: 60px;
  justify-content: center;

  @media (max-width:1000px) {
    flex-wrap: wrap;
  }
}

.card1 {
  display: flex;
  align-items: center;
  gap: 47px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  
}


.box1 {
  padding: 40px;

  max-width: 600px;
  width: 100%;

  background: #F2F2F2;

  /* max-width: 400px; */
  /* width: 100%; */
  p {
    padding: 20px 0;
  }


  h3 {
   
    text-transform: uppercase;
   

    @media (max-width: 500px) {
      font-size: 16px;
    }
  }
}


.section1 {
  padding: 82px 71px;
}

.title {
  font-size: 60px;
  font-weight: 400;
}

.wrap2 {
  display: flex;
  justify-content: space-between;
  gap: 94px;


  @media (max-width:1000px) {
    flex-direction: column;
    gap: 40;


  }

}

.icon {
  padding: 72px 0 31px;
}

.icon2{
  display: flex;
  align-items: center;
  gap: 15px;
}

.card2 {
  p {
    font-size: 16px;
    font-weight: 400;
    color: #444444;
  }

  @media (max-width:1000px) {
    display: flex;
    align-items: center;
    gap: 20px;
  }



  &:nth-child(1) {
    background-image: url(./img/1.png);
    background-size: contain;
    max-width: 300px;
  }


  &:nth-child(2) {
    background-image: url(./img/2.png);
    background-size: contain;
    max-width: 300px;

  }


  &:nth-child(3) {
    background-image: url(./img/3.png);
    background-size: contain;
    max-width: 300px;
  }

  &:nth-child(4) {
    background-image: url(./img/4.png);
    background-size: contain;
    max-width: 300px;
  }

  background-position: right;
  background-repeat: no-repeat;
}



.section3 {
  padding-top: 68px;

}

.wrap3 {


  @media (max-width:1000px) {
    flex-direction: column;
    padding: 0 20px;


  }

  background: #F2F2F2;

  display: flex;

  h1 {
    font-size: 60px;
    font-weight: 400;
    padding: 69px 0 146px;

    @media (max-width:1000px) {
      padding: 30px -0;


    }
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: #444444;

    @media (max-width:1000px) {
      font-size: 26px;
      max-width: 550px;
      

    }

  }

  img {
    padding-top: 60px;


  }
}

.btn3 {
  display: flex;
  gap: 42px;
  padding: 68px 0 55px;


  button {
    border: 1px solid grey;
    padding: 15px 50px;


    font-size: 20px;
    font-weight: 400;
  }

  .btnn {
    padding: 15px 34px;
  }
}

.box3 {
  display: flex;
  gap: 63px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;

}

.card3 {
  display: flex;
}

.wrap4 {
  display: flex;
  justify-content: space-between;
  padding: 63px 0;

  @media (max-width:1000px) {
    flex-direction: column;
    gap: 30px;

  }

}

/* .maps {
  @media (max-width:1000px) {
    width: 700px;
    height: 400px;
  }
} */